AWS_REGION=us-east-2

DATABASE_URL=postgresql://auth_service_user:clave_auth_segura@auth-db.cz2ociag6fbs.us-east-2.rds.amazonaws.com:5432/auth_db


EMAIL_FROM=contacto@bazaar-app.me

# Google OAuth
GOOGLE_CLIENT_ID_ANDROID=115422960498-ma84a1pkqvgvoonuec9s1i18ot79n7oo.apps.googleusercontent.com
GOOGLE_CLIENT_ID_WEB=115422960498-agr42d5fgpvt3m8mhkvn87embf8a4ln4.apps.googleusercontent.com

# JWT
JWT_EXPIRE_MIN=360
JWT_SECRET=generarla con el comando openssl rand -base64 32

RESEND_API_KEY=re_Jqw3fevg_JcEpxRyH3U6oNEQknYdtnF2b

S3_BUCKET_NAME=bazaar-server-imagenes
