# App
ENVIRONMENT=development
HOST=0.0.0.0
PORT=8080

# Database
DATABASE_URL=postgresql://user_auth:pass_auth@localhost:5433/auth_db

# JWT
JWT_SECRET=dev-secret-change-me
JWT_EXPIRE_MIN=60

# App URL (para links en emails)
APP_PUBLIC_URL=http://localhost:5173

# Google OAuth (opcional)
GOOGLE_CLIENT_ID_WEB=
GOOGLE_CLIENT_ID_ANDROID=

# AWS S3 (opcional)
AWS_REGION=
S3_BUCKET_NAME=

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=0bazaarnoreply@gmail.com
SMTP_PASS=wzqbynuhfrrmpubb
SMTP_SSL=True
SMTP_STARTTLS=False
EMAIL_FROM=Bazaar Auth <0bazaarnoreply@gmail.com>