ENVIRONMENT=development

DATABASE_URL=postgresql://user_auth:pass_auth@auth-db:5432/auth_db
JWT_SECRET= generarla con el comando: openssl rand -base64 32
JWT_EXPIRE_MIN=60
RESEND_API_KEY=RESEND_API_KEY
EMAIL_FROM=contacto@bazaar-app.me

AWS_REGION=us-east-2
S3_BUCKET_NAME=bazaar-server-imagenes
AWS_ACCESS_KEY_ID= # Estan en el discord o en el aws
AWS_SECRET_ACCESS_KEY= # Estan en el discord o en el aws

GOOGLE_CLIENT_ID_WEB=GOOGLE_CLIENT_ID_WEB
GOOGLE_CLIENT_ID_ANDROID=PRIVATE_KEY_GOOGLE_CLIENT_ID_ANDROID