DATABASE_URL=postgresql://user_auth:pass_auth@db-auth:5432/auth_db
JWT_SECRET=test-secret-key
JWT_EXPIRE_MIN=60
APP_PUBLIC_URL=bazaarfrontend://
RESEND_API_KEY=re_Jqw3fevg_JcEpxRyH3U6oNEQknYdtnF2b
EMAIL_FROM=contacto@bazaar-app.me


GOOGLE_CLIENT_ID_WEB=Pedila
GOOGLE_CLIENT_ID_ANDROID=Pedila